@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/reset" as *;

.next-video{
    &__section{
        margin: 1rem;
    }

    &__heading{
        @include m-section-header;
        color: $silver;
        margin: 1rem 0;
    }
    
    &__list{

    }
}