@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/reset" as *;

.next-video {
    &__section {
        margin: 1rem;

        @include tablet {
            margin: 1.5rem 1.5rem 1rem 1.5rem;
        }
    }

    &__heading {
        @include m-section-header;
        color: $silver;
        margin: 1rem 0;

        @include tablet {
            @include dt-section-header;
            margin: 1.5rem 0;
        }
    }

    &__list {}
}