@use './variables' as *;
@use './typography' as *;


@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin m-page-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin m-section-header {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin m-subheader {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 700;
}

@mixin m-body {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin m-label-btn {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin dt-page-header {
    font-size: 2rem;
    line-height: 2.75rem;
    font-weight: 700;
}

@mixin dt-section-header {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin dt-subheader {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 700;
}

@mixin dt-body {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

@mixin dt-label-btn {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;
}