// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//primary colors
$black: #323232;
$blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

//secondary colors
$darkblack: #000000;
$darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;