@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/reset" as *;


.next-video {
    &__container {
        display: flex;
        margin: 0.75rem 0;


        @include tablet {
            margin: 1.25rem 0;
        }
    }

    &__thumbnail {

        max-width: 11rem;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        border-radius: .25rem;
        margin-right: 0.75rem;
        aspect-ratio: 16 / 9;
    }

    &__data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.25rem;
        width: 11rem;

        @include tablet {
            max-width: 25%;
        }

        @include desktop {
            max-width: 100%;
        }
    }

    &__title {
        @include m-body;
        font-weight: 700;
        color: $black;

        @include tablet {
            @include dt-body;
            font-weight: 700
        }
    }

    &__author {
        @include m-body;
        color: $black;

        @include tablet {
            @include dt-body;
        }

    }
}