@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/reset" as *;


.comment-section {

    margin: 1.5rem 1rem 1rem 1rem;

    @include tablet {
        margin-inline: 1.5rem;
    }

    @include desktop {
        margin-right: 0;
    }

    &__heading {
        margin: 1rem 0;

        @include tablet {}
    }

    &__comment-counter {
        @include m-section-header;

        @include tablet {
            @include dt-section-header;
        }
    }
}