@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/reset" as *;

.comment {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    &__container {}

    &__icon-section {
        border-bottom: 1px solid $mercury;
    }

    &__icon {
        background-color: $mercury;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 2rem;
        margin-right: 1rem;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
    }

    &__data {
        width: calc(100vw - 6.25rem);
        min-width: 14.75rem;
        border-bottom: 1px solid $mercury;

        @include tablet {
            width: calc(100vw - 6.25rem);
        }

        @include desktop {
            width: calc(100vw - 38.5rem);
            padding-right: 1.5rem;
        }
    }

    &__name {
        @include m-body;
        font-weight: 700;
        color: $darkblack;

        @include tablet {
            @include dt-body;
            font-weight: 700;
        }
    }

    &__right{
        display: flex;
    }

    &__delete-icon{
        margin-right: 1rem;
    }

    &__date {
        @include m-body;
        color: $silver;

        @include tablet {
            @include dt-body;
        }
    }

    &__body {
        width: calc(100vw - 6.25rem);
        min-width: 14.75rem;
        @include m-body;
        color: $darkblack;
        padding: 0.5rem 0 0.5rem 0;
        margin-bottom: 1rem;
        overflow-wrap: break-word;

        @include tablet {
            @include dt-body;
        }

        @include desktop {
            width: calc(100vw - 40rem);
        }
    }
}