// SCSS imports for Pages
@use "./pages/Home/Home.scss" as *;

@use "./pages/Upload/Upload.scss" as *;

@use "./pages/PageNotFound/PageNotFound.scss" as *;

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
}
